.big-btn{
    background: none;
   width: 100%;
   font-size: 7em;
   text-align: left;
   align-items: center;
   text-transform: uppercase;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 700;
   border-bottom:1px solid rgba(100%, 100%, 100%, 0.5);
   margin: 20px 0;
   color:#F32A56;
}
.big-btn i{
    display: inline-flex;
    height: 80px;
    width: 80px;
    font-size: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(100%, 100%, 100%, 0.8);;
    margin-left: auto;
    background: url('icons/arrow-right.svg') no-repeat;
    background-position: center;
    background-size: contain;
}
.big-btn i img{
    height: 60%;
    width: 60%;
}
#menu-btn{
    background: pink;
    width: 25px;
    height: 15px;
    display:none;
}
#menu-btn::after{
    content: "";
    padding: 1px;
    background: white;
}